<nav class="navbar navbar-expand-lg navbar-light bg-light shadow" id="navbar">
    <a class="navbar-brand" href="#">
      <div class="logo-a">     
      </div>
    </a>
    
    <div class="collapse navbar-collapse text-center" id="navbarNav" >
      <ul class="navbar-nav">
        <li class="nav-item" routerLinkActive="active">
               <a class="nav-link" [routerLink]="['/home']" > 
                <i class="fas fa-angle-right"></i>
                inicio
                <i class="fas fa-angle-left" ></i>
              </a>
             
              </li> 
         <li class="nav-item" [routerLinkActive]="['active']" >
          <a class="nav-link" [routerLink]="['/registrar']"  >
            <i class="fas fa-angle-right"></i>
            registrar 
            <i class="fas fa-angle-left" ></i>
          </a>
        </li>

        <li class="nav-item" [routerLinkActive]="['active']">
          <a class="nav-link" [routerLink]="['/listar']"  >
            
            <i class="fas fa-angle-right"></i>
            usuarios
            <i class="fas fa-angle-left"></i>
          
          </a>
        </li>
  
        <li class="slide1 "></li>
        <li class="slide2"></li>
  
     
      </ul>
      <div class="text-inline">
        <ul class="navbar-nav">

          <li class="nav-item" *ngIf="!getprue()" [routerLinkActive]="['active']">
            <a class="nav-link" [routerLink]="['/login']" >
              <i class="fas fa-angle-right"></i>
              Login    
              <i class="fas fa-angle-left" ></i>
            </a>
          </li>


   <li class="nav-item" *ngIf="getnombre()">
     <!--   <a class="nav-link" >{{name}}</a>-->

        <button mat-button [matMenuTriggerFor]="menu">{{name}} <mat-icon>person</mat-icon></button>
<mat-menu #menu="matMenu" xPosition="before" class="customize">
  <button mat-menu-item (click)="logOut()" >Cerrar sesion <mat-icon>exit_to_app</mat-icon></button>
</mat-menu>


      </li>
  <!--<li class="nav-item">
         
      <a class="nav-link" (click)="logOut()" *ngIf="getprue()">Cerrar Sesion</a>
    </li>
  -->   </ul>
      </div>
     
      </div>
  </nav>
