.m-t-header{
  height: 80px;
  background-color: var(--blanco);
}

.m-t-r-header{
  height: var(--full);
}

  .menu-desk{
    display:block;
    width: 100%;
    height: auto;
  }
  
  .menu-mobile{
    display: none;
  }
  
  /*For smartphone*/
  @media screen and (max-width: 768px) {
    
    .menu-desk{
      display: none;
    }
    
    .menu-mobile{
      display: block;
      position: relative !important;
    }
  }