	<div class="container">
		<div class="img image-register">
		
		</div>
		<div class="login-content">
			<form [formGroup]="RegisterForm"  (ngSubmit)="register(RegisterForm.value)">
			<div class="image-perfil"></div>
				<h2 class="title">Registrate</h2>
           		<div class="input-div one">
           		   <div class="i">
           		   		<i class="fas fa-user"></i>
           		   </div>
           		   <div class="div">
           		   		<h5>Nombre</h5>
           		   		<input type="text" class="input" formControlName="name" id="name" required>
           		   </div>
           		</div>
                   <div class="input-div one">
                    <div class="i">
                            <i class="fas fa-user"></i>
                    </div>
                    <div class="div">
                            <h5>email</h5>
                            <input type="email" class="input" formControlName="email" required>
                    </div>
                 </div>
           		<div class="input-div pass">
           		   <div class="i"> 
           		    	<i class="fas fa-lock"></i>
           		   </div>
           		   <div class="div">
           		    	<h5>Contraseña</h5>
           		    	<input type="password" class="input" formControlName="password" required>
            	   </div>
            	</div>
            	<input type="submit" class="btn" value="Registrar">
				<!--<div class="block"><div class="loading"></div></div>-->
            </form>
        </div>
    </div>