.container-fluid{
    min-height: 71%;
    background-color: var(--gris);
}




/*slider*/
.carousel{
padding-top: 1%;
}
.slider-1{
    width: 100vw;
    height:30vh;
    background-image: var(--slider1);
    background-size: 100% 100%;
    background-repeat: no-repeat;

}
.slider-2 {
    width: 100vw;
    height:30vh;
    background-image: var(--slider2);
    background-size: 100% 100%;
    background-repeat: no-repeat;

  
}

.slider-3{
    width: 100vw;
    height:30vh;
    background-image: var(--slider3);
    background-size: 100% 100%;
    background-repeat: no-repeat;

}
.carousel-indicators{
    z-index: 1;
}
.carousel-indicators li{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color:#5088c8 ;
}

#content-slider1{
    padding: 3%;
}
#content-slider2{
    padding: 6% 0% 1% 10%;
}

h4{
    color: #494f6b;
    font-weight: 550;
    font-family: var(--Roboto_medium);
}


.btn-primary{
    background-color: #5088c8 !important;
    font-family: var(--Roboto_bold);
    border-radius: 20px;
}

.content-home{
  width: 50%;
    margin: 0 auto;
    text-align: justify;
}
.content-home h2{
    line-height: 1;
}


@media screen and (max-width: 768px){
#content-slider1{
    padding: 10%;
}
#content-slider2{
    padding: 26% 2% 40% 46%;
}
     
}